@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
}

header {
    
}

nav {
    display: flex;
    background-color: rgba(55, 209, 83, 1);
    justify-content: space-around;
    align-items: center;
    height: 80px;
    width: 100%;
    
}

.logo img {
    width: 150px;
}


.right ul {
    display: flex;
    gap: 35px;
    
}


.right ul li {
    list-style: none;
    justify-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: black;
    font-family: 'cabin';
    font-size: 18px;
 
}

.herobanner {
    background-image: url(/Images/image.png);
    height: 720px;
    width: 100%;
    display: flex;
}

.herosection {
    width: 50%;
    text-align: start;
    display: flex;
    align-items: center;
}

.herosection h1 {
    font-family: 'cabin';
    font-size: 45px;
    color: white;
}

.wrapper {
    margin-left: 25px;
    margin-right: 30px;
}

.herosy {
    text-align: center;
     width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: ;

}



input::placeholder {
   
}

input {
    padding-left: 10px;
    padding-bottom: 15px;
    padding-top: 15px;
    width: 180px;
    outline: none;
    border: none;
    margin-right: 10px;
    border-radius: 5px;
}

.buttonnew {
    text-align: left;
    margin: 10px 0px 10px 0px;
    
}

.buttonn {
padding: 15px 100px 15px 100px;
cursor: pointer;
outline: none;
border: none;
border-radius: 10px;
background-color: rgba(55, 209, 83, 1);
}

.newform {
    background-color: transparent;
    padding: 45px 40px 45px 40px;  
     align-content: center;
     border-radius: 20px;
     backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    text-align: left;
}

.formn {
    text-align: start;
       
}

.newform span {
    color: white;
    font-size: 20px;
    font-family: 'cabin';
    font-weight: lighter;
    margin-bottom: 10px;
}

.newform h2 {
    color: white;
    font-size: 35px;
    font-family: 'cabin';
    font-weight: ;
}

.listitems {
    font-size: 20px;
    font-family: 'cabin';
    font-weight: lighter;
    color: white;
    display: flex;
    justify-content: center;
    align-items: flex-start;

}

.buitem {
 display: flex; 
 flex-direction: column; 
 gap: 5px; 
 text-align: left; 
 align-items: start; 
 list-style: none;
 margin-bottom: 50px;
}

.newform span {
    margin-left: 10px;
}

