* {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    background-color: aquamarine;
    justify-content: space-around;
    align-items: center;
    height: 80px;
}

.logo img {
    width: 150px;
}


ul {
    display: flex;
    gap: 35px;
    
}


li {
    list-style: none;
    justify-content: center;
    display: flex;
 
}

.herobanner {
    background-image: url(/images/image.png);
    height: 720px;
    width: 100%;
}